@model SisDec.Models.Usuarios
@{
    ViewBag.Title = "Editar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <div class="widget widget-nopad">
                            <div class="widget-header">
                                <i class="icon-list-alt"></i>
                                <h3>Editar Usuário</h3>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div class="widget-content">
                                        <div class="form-horizontal">
                                            <hr />

                                            <div class="control-group">
                                                @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
                                                <div class="controls">
                                                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                                                <div class="controls">
                                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.enumReponsavel, new { @class = "control-label" })
                                                <div class="controls">
                                                    @Html.EnumDropDownListFor(model => model.enumReponsavel, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.Login, new { @class = "control-label" })
                                                <div class="controls">
                                                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            

                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-primary">Salvar</button>

                                                <a class="btn btn-danger" href="@Url.Action("Listar", "Usuarios")" onclick="return confirm('Deseja realmente sair?'); ">Cancelar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /widget-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
