@model IEnumerable<SisDec.Models.Cliente>

@{
    ViewBag.Title = "Listar";
}

<ol class="breadcrumb">
    <li class="active">
        <b>
            <a href="@Url.Content("~/Home/Index")">Inicio</a> /
            <a href="@Url.Content("~/Cliente/Listar")">Listar Clientes</a>
        </b>
    </li>
</ol>

<p>
    @Html.ActionLink("Novo Cliente", "Inserir", null, new { @class = "btn btnlg btn-success" })
</p>


<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget widget-nopad">
                        <div class="widget-header">
                            <i class="icon-list-alt"></i>
                            <h3>Clientes</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="widget big-stats-container">
                                <div class="widget-content">
                                    <div class="form-horizontal">
                                        <p>

                                        </p>
                                        <table class="table" id="TabelaListar">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Nome)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Cpf)
                                                        @Html.DisplayNameFor(model => model.Cnpj)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.tipoPessoa)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.objCidade.enumEstado)
                                                    </th>
                                                    <th>
                                                        Ação
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var item in Model)
            {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Nome)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Cpf)
                                                            @Html.DisplayFor(modelItem => item.Cnpj)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.tipoPessoa)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.objCidade.enumEstado)
                                                        </td>
                                                        <td>
                                                            @if (item.tipoPessoa == SisDec.Models.TipoPessoa.pessoaFisica)
                                                            {
                                                                <a class="btn btn-default btn-sm" href="@Url.Action("EditarClienteFisica","Cliente",new { item.IdCliente})">Editar   <i class="icon-pencil"></i></a>
                                                                <a class="btn btn-default btn-sm" href="@Url.Action("DetalhesClienteFisica","Cliente",new { item.IdCliente})">Detalhes   <i class="icon-reorder"></i></a>
                                                            }
                                                            else
                                                            {
                                                                <a class="btn btn-default btn-sm" href="@Url.Action("EditarClienteJuridica","Cliente",new { item.IdCliente})">Editar   <i class="icon-pencil"></i></a>
                                                                <a class="btn btn-default btn-sm" href="@Url.Action("DetalhesClienteJuridica","Cliente",new { item.IdCliente})">Detalhes   <i class="icon-reorder"></i></a>
                                                            }

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /widget-content -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
