@model SisDec.Models.Requisicao



@{
    ViewBag.Title = "Inserir";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <table class="form-group">
        <tr>
            <td>
                <div class="control-group">
                    @Html.LabelFor(model => model.NumeroRequisicao, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.NumeroRequisicao, new { @class = "form-control" })
                    </div>
                </div>
            </td>
            <td>
                <div class="control-group">
                    @Html.LabelFor(model => model.ObjCliente.Nome, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.ObjCliente.Nome, new { @class = "form-control" })
                    </div>
                </div>
            </td>
            <td>
                <div class="control-group">
                    @Html.LabelFor(model => model.DataPedido, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.DataPedido, new { @class = "form-control" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.DataRequisicao, new { @class = "form-control" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.DataRequisicao, new { @class = "control-label" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.LabelFor(model => model.Finalidade, new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Finalidade, new { @class = "form-control" })
            </td>
        </tr>
    </table>


                        <!-- /widget-header -->
    <div class="widget big-stats-container">
        <hr />

        <a class="btn btn-primary" href="javascript:void(0)" id="addInput">
            Adicionar Peça
        </a>
        <br />

        <div id="dynamicDiv">
            <p>
                <input type="text" id="inputeste" name="pecas[]" class="buscaPeca" size="20" value="" placeholder="" />
                <a class="btn btn-danger" href="javascript:void(0)" id="remInput">
                    Excluir
                </a>
            </p>
        </div>
        </div>
}
        @section Scripts {
        <script>
            $(function () {
                var scntDiv = $('#dynamicDiv');

                $(document).on('click', '#addInput', function () {
                    $('<p>' + '<input type="text" id="inputeste" name="pecas[]" class="buscaPeca" size="20" value="" placeholder="" /> ' + '<a class="btn btn-danger" href="javascript:void(0)" id="remInput">' + '	Excluir' +
                                                                          '</a>' +
                                                                      '</p>').appendTo(scntDiv);
                    return false;
                });

                $(document).on('click', '#remInput', function () {
                    $(this).parents('p').remove();
                    return false;
                });

                $("#dynamicDiv").on("keydown", ".buscaPeca", function () {
                    var tamanho = $(this).val().length;
                    if (tamanho == 2) {

                    }
                });

            });
        </script>
}
