@model SisDec.Models.Requisicao
@{
    ViewBag.Title = "Cadastrar";
}


<h2>Cadastrar</h2>

@using (Html.BeginForm())
{
    <table id="dataTable">
        <tr>
            <td>Número</td>
            <td>@Html.TextBoxFor(model => model.NumeroRequisicao)</td>
            <td></td>
        </tr>
        <tr>
            <td>Produto</td>
            <td>Quantidade</td>
            <td>Valor</td>
        </tr>
        @if (Model.ListaPecaRequisicao != null && Model.ListaPecaRequisicao.Count > 0)
        {
            int j = 0;
            foreach (var i in Model.ListaPecaRequisicao)
            {
                <tr style="border:1px solid black;">
                    <td>@Html.TextBoxFor(model => model.ListaPecaRequisicao[j].ObjPeca.Referencia) @Html.ValidationMessageFor(model => model.ListaPecaRequisicao[j].ObjPeca.Referencia)</td>

                    <td>@Html.TextBoxFor(model => model.ListaPecaRequisicao[j].Quantidade) @Html.ValidationMessageFor(model => model.ListaPecaRequisicao[j].Quantidade)</td>

                    <td>@Html.TextBoxFor(model => model.ListaPecaRequisicao[j].Valor) @Html.ValidationMessageFor(model => model.ListaPecaRequisicao[j].Valor)</td>
                    <td>
                        @if (j > 0)
                        {
                            <a href="#" class="remove">Remove</a>
            }
                    </td>
                </tr>
            j++;
        }
    }

        <tr>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="4"></td>
        </tr>
    </table>
}