@model SisDec.Models.Pessoa


@{
    ViewBag.Title = "Inserir Novo Cliente";
}

<h2>Inserir Novo Cliente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <script>
        function alterna(tipo) {
            if (tipo == 1) {
                document.getElementById("cpf").style.display = "block";
                document.getElementById("cnpj").style.display = "none";
            } else {
                document.getElementById("cpf").style.display = "none";
                document.getElementById("cnpj").style.display = "block";
            }
        }
    </script>

    <div class="form-horizontal">
        <hr />
        Por favor escolha entre Pessoa fisica ou Pessoa Juridica.
        Cpf:<input type="radio" name="tipo" value="1" onclick="alterna(this.value);" /><br />
        Cnpj:<input type="radio" name="tipo" value="2" onclick="alterna(this.value);" /><br />

        <div class="form-group" id="cpf" style="display:none;">
            @Html.LabelFor(model => model., new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
            </div>
        </div>

            <div class="form-group" id="cnpj" style="display:none;">
                @Html.LabelFor(model => model.RazaoSocial, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.RazaoSocial, new { @class = "form-control" })
                </div>

                <div id="cpf" style="display:none;">
                    Nome:<input type="text" name="oculto" size="30" />
                </div>

                <div id="cnpj" style="display:none;">
                    Razão Social:<input type="text" name="oculto" size="30" />
                </div>
            </div>

        
    </div>



}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
